.u-section-1 .u-sheet-1 {
  min-height: 482px;
}

.u-section-1 .u-image-1 {
  width: 533px;
  height: 300px;
  margin: 87px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: -261px 0 0 546px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  font-size: 0.625rem;
  margin: 31px 546px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -173px;
    margin-right: 143px;
    margin-left: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -201px;
    margin-right: 34px;
    margin-left: 94px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 59px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -264px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -336px;
  }
}